---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Simon Young</title>
	</head>
	<body>
		<h1><a href="/">Simon Young</a></h1>

		<h2>Blog</h2>

		<ul>
			<li><a href="/blog/leadership-with-shared-purpose">Leadership with Shared Purpose</a> (September 30, 2020)</li>
			<li><a href="/blog/on-leading-engineering-teams">On Leading Engineering Teams</a> (December 10, 2018)</li>
		</ul>
		<footer>
			<p>&copy; Simon Young, 1999-2024. </p>
		</footer>
	</body>
</html>
