---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Simon Young</title>
	</head>
	<body>
		<header>
			<h1><a href="/">Simon Young</a></h1>
		</header>

		<main>
			<p>I’m Simon, an experienced software engineering leader currently working at <a href="https://lego.com/">The LEGO Group</a>.</p>

			<ul>
				<li>More than 25 years of experience in all aspects of software engineering and architecture</li>
				<li>Senior Director of Engineering for Shopper Technology at the LEGO Group, leading a 100+ person software engineering team</li>
			</ul>

			<p>Find me on <a href="https://www.linkedin.com/in/simonyounguk/">LinkedIn</a> 🤘</p>

			<section aria-labelledby="articles-heading">
				<h2 id="articles-heading">Articles</h2>
				<ul>
					<li><a href="/blog/leadership-with-shared-purpose">Leadership with Shared Purpose</a> (September 30, 2020)</li>
					<li><a href="/blog/on-leading-engineering-teams">On Leading Engineering Teams</a> (December 10, 2018)</li>
				</ul>
			</section>
		</main>

		<footer>
			<p>&copy; Simon Young, 1999-2024.</p>
		</footer>
	</body>
</html>
