---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Simon Young</title>
	</head>
	<body class="bg-gray-100 text-gray-900">
		<header class="bg-white shadow">
			<h1 class="text-3xl font-bold text-center py-4"><a href="/">Simon Young</a></h1>
		</header>

		<main class="max-w-4xl mx-auto p-4">
			<p class="text-lg mb-4">I’m Simon, an experienced software engineering leader currently working at <a href="https://lego.com/" class="text-blue-500 hover:underline">The LEGO Group</a>.</p>

			<ul class="list-disc list-inside mb-4">
				<li>More than 25 years of experience in all aspects of software engineering and architecture</li>
				<li>Senior Director of Engineering for Shopper Technology at the LEGO Group, leading a 100+ person software engineering team</li>
			</ul>

			<p class="text-lg mb-4">Find me on <a href="https://www.linkedin.com/in/simonyounguk/" class="text-blue-500 hover:underline">LinkedIn</a> 🤘</p>

			<section aria-labelledby="articles-heading" class="mt-8">
				<h2 id="articles-heading" class="text-2xl font-bold mb-4">Articles</h2>
				<ul class="list-disc list-inside">
					<li><a href="/blog/leadership-with-shared-purpose" class="text-blue-500 hover:underline">Leadership with Shared Purpose</a> (September 30, 2020)</li>
					<li><a href="/blog/on-leading-engineering-teams" class="text-blue-500 hover:underline">On Leading Engineering Teams</a> (December 10, 2018)</li>
				</ul>
			</section>
		</main>

		<footer class="bg-white shadow mt-8 p-4 text-center">
			<p>&copy; Simon Young, 1999-2024.</p>
		</footer>
	</body>
</html>
